.accordion__button {
  display: block;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  text-align: left;
  background: 0 0;
  border: 0;
  outline: 0;
  color: inherit;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-left: 1px solid $medium-wood;
    border-bottom: 1px solid $medium-wood;
    transform: rotate(135deg);
  }
}
