.blog {
  text-align: center;
  padding-top: 53px;
}

.blog h2 {
  margin-bottom: 19px;
  margin-top: 0;
}

.blog__container {
  display: flex;

  @include vp-1023 {
    flex-direction: column;
  }
}

.blog__left-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 30px;

  @include vp-1023 {
    width: 100%;
    margin-right: 0;
  }
}

.blog__article-image {
  width: 50%;

  @include vp-1023 {
    max-width: 339px;
    align-self: center;
    height: 300px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
    max-width: none;
    height: 256px;
  }
}

.blog__article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog article {
  background-color: $desert-storm;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 300px;
  justify-content: space-between;

  @include vp-1023 {
    margin-bottom: 50px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.blog article:nth-child(2n) {
  flex-direction: row-reverse;


  @include vp-767 {
    flex-direction: column;
  }
}

.blog__article-content {
  padding: 70px 60px 70px;
  min-width: 285px;
  width: 50%;

  @include vp-1023 {
    padding-left: 70px;
    padding-right: 70px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding-top: 46px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 53px;
  }
}

.blog__article--crystals .blog__article-content {
  @include vp-1023 {
    padding-left: 83px;
    padding-right: 83px;
  }

  @include vp-767 {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.blog a {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

.blog__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 60px;

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.blog p {
  font-size: 14px;
  line-height: 18px;
  color: $zorba;
  margin: 0 0 -20px;
}

.blog h3 {
  margin-bottom: 33px;
  font-family: $ff-secondary;
  font-size: 26px;
  line-height: 38px;

  @include vp-767 {
    line-height: 35px;
    margin-top: 31px;
    margin-bottom: 34px;
  }
}

.blog__article--main {
  position: relative;
  width: 50%;

  @include vp-1023 {
    width: 100%;
  }
}

.blog__article--main .blog__article-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  @include vp-767 {
    position: static;
    height: 256px;
  }
}

.blog__article--main .blog__article-content {
  z-index: 1;
  margin: auto 0 0 auto;
  background-color: $desert-storm;
  padding-top: 67px;
  padding-bottom: 113px;

  @include vp-1023 {
    margin: 0;
    padding-top: 88px;
    padding-bottom: 88px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
