.header--is-open {
  @include vp-1023 {
    position: fixed;
    background-color: $medium-wood;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 998;
  }
}

.header--is-open .main-nav {
  @include vp-1023 {
    color: $color-default-white;
  }
}

.header--is-open .main-nav__link--logo svg {
  fill: $color-default-white;
}

.header--is-open .main-nav__link--cart {
  stroke: $color-default-white;
}

.header--is-open .main-nav__button {
  @include vp-1023 {
    background-image: url("../img/svg/menu-white.svg");
  }
}

.header--is-close .menu {
  @include vp-1023 {
    display: none;
  }
}

.header--no-js .menu {
  @include vp-1023 {
    display: block;
    position: static;
  }
}

.header--no-js {
  @include vp-1023 {
    background-color: $medium-wood;
  }
}

.header--no-js .main-nav {
  @include vp-1023 {
    color: $color-default-white;
  }
}

.header--no-js .main-nav__button {
  display: none;
}


.header--no-js .main-nav__link--cart {
  @include vp-1023 {
    stroke: $color-default-white;
  }
}
