.intro {
  padding: 180px 0;
  background-color: $medium-wood;
  background-image: url("../../img/content/index/intro/intro-index-desktop@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-default-white;
  font-family: $ff-secondary;
  text-align: center;


  @media (min-resolution: $retina-dppx) {
    background-image: url("../../img/content/index/intro/intro-index-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../../img/content/index/intro/intro-index-tablet@1x.jpg");
    padding-top: 182px;
    padding-bottom: 184px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/content/index/intro/intro-index-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 190px;
    padding-bottom: 186px;
  }
}

.intro h2 {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 58px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.03em;

  @include vp-1023 {
    margin-right: 18px;
    line-height: 55px;
  }

  @include vp-767 {
    font-size: 38px;
    line-height: 43px;
    margin-right: 0;
  }
}

.intro p {
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  font-style: italic;
  margin: 0;

  @include vp-1023 {
    margin-right: 18px;
  }

  @include vp-767 {
    font-size: 34px;
    margin-right: 0;
  }
}

.intro--catalog {
  padding: 85px 0 87px 0;
  background-image: url("../../img/content/catalog/intro/intro-catalog-desktop@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../../img/content/catalog/intro/intro-catalog-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../../img/content/catalog/intro/intro-catalog-tablet@1x.jpg");
    padding-top: 86px;
    padding-bottom: 86px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/content/catalog/intro/intro-catalog-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 80px;
    padding-bottom: 86px;
  }
}

.intro--catalog h2 {
  font-size: 34px;
  letter-spacing: 0.01em;
  margin-bottom: -13px;

  @include vp-1023 {
    margin: 0;
    margin-bottom: -11px;
  }

  @include vp-767 {
    font-size: 34px;
    margin-bottom: 2px;
  }
}

.intro--catalog p {
  font-size: 22px;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    font-size: 22px;
    padding: 0 37px;
    line-height: 26px;
  }
}
