.slider {
  position: relative;
  padding-top: 120px;
  padding-bottom: 82px;
  text-align: center;
  z-index: 70;

  @include vp-1023 {
    padding-top: 70px;
    padding-bottom: 15px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 4px;
  }
}

.slider ul {
  margin: 0;
  padding: 0;
}

.slider .swiper-button-disabled {
  opacity: 0.5;
  cursor: default;

  &::before {
    display: none;
  }

  &:hover,
  &:focus {
    color: $medium-wood;
  }
}

.slider h2 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 50px;
  letter-spacing: normal;

  @include vp-1023 {
    margin-bottom: 15px;
  }
}

.slider__link {
  padding: 0;
  margin-bottom: 60px;
  z-index: 80;

  @include vp-1023 {
    margin-bottom: 53px;
  }

  @include vp-767 {
    margin-bottom: 45px;
  }

  &::after {
    bottom: 0;

    @include vp-1023 {
      bottom: -5px;
    }
  }
}

.slider__wrapper {
  padding: 72px 15px 50px;
  margin: -15px -15px;

  @include vp-1023 {
    padding: 66px 15px 57px;
  }

  @include vp-767 {
    padding: 60px 15px 45px;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 0;
  margin: 0 auto;

  @include vp-1023 {
    bottom: 6px;
  }

  @include vp-767 {
    bottom: 12px;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
}

.slider__pagination .swiper-pagination-bullet {
  padding: 6px;
  color: $zorba;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  outline: none;
  position: relative;

  &:hover,
  &:focus {
    color: $color-wood-bark;
  }
}

.slider__pagination .swiper-pagination-bullet-active {
  color: $color-wood-bark;
  cursor: default;

  &:hover::after,
  &:focus::after {
    display: none;
  }

  &:active {
    opacity: 1;
  }
}

.slider__button {
  padding: 10px;
  position: absolute;
  top: 152px;
  color: $medium-wood;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  @include vp-1023 {
    top: 99px;
  }

  @include vp-767 {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

.slider__arrow {
  position: relative;

  @include vp-1023 {
    width: 36px;
    height: 15px;
  }
}

.slider__button--prev {
  left: -10px;
}

.slider__button--next {
  right: -10px;
}

.slider__button--next .slider__arrow {
  top: 1px;

  @include vp-1023 {
    top: 3px;
  }
}

.slider__item {
  height: auto;
}

.slider__item a {
  color: inherit;
  display: block;
  height: 100%;
  outline: none;

  &:hover,
  &:focus {
    color: $medium-wood;
  }

  &:active {
    opacity: 0.5;
  }
}

.slider__item img {
  display: block;
  width: 100%;
  height: auto;
}

.slider__item h3 {
  margin: 21px 0 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  @include vp-767 {
    margin: 14px 0 7px;
  }
}

.slider__item p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
}

.slider--no-js .slider__wrapper {
    overflow-x: auto;
    padding: 15px 0 20px;
    margin: -15px 0;
  }

.slider--no-js .slider__item {
  width: calc(100% / 4 - 90px / 4);
  margin-right: 30px;

  @include vp-1023 {
    width: calc(100% / 2 - 30px / 2);
  }
}

.slider--no-js .slider__button {
  display: none;
}
